//- #nav
//-   h1 book yo room

#hero.section
  h2 When is the meeting time?
  
  .select-container
    select(name="Select a time")
      option(value="9:00am") 9:00am
      option(value="10:00am") 10:00am
      option(value="11:00am") 11:00am
    
#options.section
  h2 What do you need?
  #svg-animations
    .container
      .option
        #people.circle
          img(src="assets/people.svg")
        p Fit 9+ people
      .option
        #tv.circle
          img(src="assets/tv.svg")
        p TV
      .option
        #video.circle
          img(src="assets/video.svg")
        p Video Calling
      .option
        #private.circle
          img(src="assets/private.svg")
        p Private
      .option
        #sunny.circle
          img(src="assets/sunny.svg")
        p Sunny
