// // Alignment
// .text-left
//   text-align left
// .text-right
//   text-align right
// .text-center
//   text-align center
// .text-justify
//   text-align justify
// .text-inline
//   display inline

// Weight
h1, h2, h3, h4
  font-weight 700

// Size
h1, .text-xxl
  font-size 2em
  @media screen and (max-width: $screen-md-min)
    font-size 2.5em !important
h2, .text-xl
  font-size 2em
h3, .text-lg
  font-size 1.5em
h4, .text-md
  font-size 1.15em
h5, .text-sm
  font-size 0.85em

// Margin and spacing
h1, h2, h3, h4, h5
  margin 0
p
  margin 0 0 0.3em

// .tight
//   margin-bottom 0
//
// ul, ol
//   padding-left 1.2em
//
// hr
//   border-width 1px 0 0 0
//   width 100%

// // Transformation
// .text-lowercase
//   text-transform lowercase
// .text-uppercase
//   text-transform uppercase
// .text-capitalize
//   text-transform capitalize
// .text-normal-case
//   text-transform none !important

// Links
a
  transition(400ms)
  text-decoration none
.link-pink,
.link-green,
.link-blue
  transition(400ms)
  display inline-block
  cursor pointer
  transform(translateY(0))
  &:hover
    text-decoration none
    transform(translateY(-1px))
