.section
  padding 54px 32px
  box-sizing border-box
  min-height 50vh
  width 100%
  h2
    padding-bottom 32px

.caption
  font-weight 700
  font-size 16px
  padding-right 16px
  display inline-block
  margin 0
  position relative
  &.caption-arrow
    &:after
      content ''
      top 8px
      right 0
      width 12px
      height 12px
      position absolute
      background-size 100% 100%
      background-repeat no-repeat
      background-image url('../assets/arrow-dark.svg')

.table
  display table

.table-cell
  display table-cell
  vertical-align middle

.container-fluid
  max-width 1040px

@media screen and (max-width: 1100px)
  .section
    height auto
  .table,
  .table-cell
    display block


#hero
  background $purple
  color white
  text-align left
  select
    -webkit-appearance none
    border none
    border-radius 0
    font-family 'Dosis'
    font-size 24px
    background transparent
    color white
    border-bottom 3px solid white
    width 240px
    max-width 100%
    outline none
    cursor pointer
  .select-container
    position relative
    width 240px
    max-width 100%
    // margin 0 auto
    &:after
      content ''
      top 10px
      right 0px
      width 20px
      height 20px
      position absolute
      background-size 100% 100%
      background-repeat no-repeat
      background-image url('../assets/arrow.svg')

#options
  .option
    padding 0 8px
    display inline-block
    text-align center
    cursor pointer
    &:hover
      .circle
        filter(drop-shadow(4px 10px 7px rgba(44,58,72,0.5)))
        transform(scale(1.05))
    &.active
      .circle
        background $blue
    img
      transition(400ms)
      max-width 70px
      margin 0 auto
      height 100px
      vertical-align middle
    p
      padding 6px 0
  .circle
    transition(400ms)
    border-radius 50%
    background white
    width 100px
    height 100px
    margin 0 auto
    position relative
    svg
      width 70px !important
      height 70px !important
      transform translate(-50%, -50%) !important
      position absolute
      top 50%
      left 50%

#results
  background $lt-blue
  .result-parent
    opacity 0
    display inline-block
    transform(translateY(-5px))
    transition(400ms)
    &.active
      transform(translateY(0))
      opacity 1
    for num in 1 2 3 4 5
      &:nth-child({num})
        transition-delay 100ms * num

  .result
    background white
    min-width 200px
    border-radius 10px
    padding 16px
    margin 8px
    cursor pointer
    transition(400ms)
    &:hover
      filter(drop-shadow(0px 14px 13px rgba(44,58,72,0.34)))
      transform(scale(1.02))
